<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <a href="{{ path('app_public') }}">
                <div class="logo">Daily News Hub</div>
            </a>
            <div class="tagline">Your Source for Breaking News Across All Categories</div>
        </header>

        {% block body %} {% endblock %} 
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>