{%extends 'layouts/admin.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Dashboard</h1>
        <p>Welcome back, {{ app.user.name }}!</p>

        <div class="row">
            <!-- Categories Module -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-0">
                            <i class="fas fa-tags"></i> Categories
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><a href=""><i class="fas fa-plus text-success"></i></a> Create new categories</li>
                            <li><a href=""><i class="fas fa-list text-info"></i></a> View all categories</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- News Module -->
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-success text-white">
                        <h5 class="card-title mb-0">
                            <i class="fas fa-newspaper"></i> News
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><a href=""><i class="fas fa-plus text-success"></i></a> Create new article</li>
                            <li><a href=""><i class="fas fa-list text-info"></i></a> View all articles</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}